﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{Title}}</span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span ng-bind-html="Message"></span>
            </div>
            <div class="col-md-12" ng-if="PopupData.length > 0">
                <table class="table table-hover" style="margin-top: 10px;">
                    <tbody>
                        <tr ng-repeat="item in PopupData">
                            <td>
                                <span ng-if="item.Result===true"><span class="label label-success"><i class="fa fa-check-square" aria-hidden="true"></i></span></span>
                                <span ng-if="item.Result!==true"><span class="label label-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></span>
                            </td>
                            <td style="text-overflow: ellipsis; white-space: nowrap; max-width: 100px; overflow: hidden;"><strong>{{item.Name}}</strong> </td>
                            <td>{{item.Message}}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="text" ng-model="note"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="reject()" autofocus ng-if="ButtonReject != ''"><i class="fa fa-check"></i> {{ButtonReject}}</button>
        <button class="btn btn-sm btn-primary" ng-click="send()" autofocus ng-if="ButtonSend != ''"><i class="fa fa-check"></i> {{ButtonSend}}</button>
        <button class="btn btn-sm btn-primary" ng-click="confirm()" autofocus ng-if="ButtonConfirm != ''"><i class="fa fa-check"></i> {{ButtonConfirm}}</button>
        <button class="btn btn-sm btn-warning" ng-click="cancel()" ng-if="ButtonCancel != ''"><i class="fa fa-times"></i> {{ButtonCancel}}</button>
    </div>
</div>