﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <a href="javascript:;" ng-click="Cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
        <span class="modal-title">
            <span>{{FormMode}} bản ghi - Danh mục {{CatalogName}}</span>
        </span>
    </div>

    <!--<form name="organizations_form" class="form-horizontal" ng-submit="Save()">
        <div class="modal-content cmodal">
            <div class="modal-header">
                <span class="modal-title">
                    <span>{{Form.Title}}</span>
                </span>
            </div>-->

    <div class="modal-body">
        <form ng-submit="Save()" name="MyForm">
            <fieldset>
                <legend class="font-14 text-bold">
                    <span>THÔNG TIN CHUNG</span>
                </legend>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tên bản ghi<span class="required">(*)</span></label>
                            <div>
                                <input name="itemName" id="txtName" required ng-maxlength="255" ng-focus="true" ng-model="Item.Name" type="text" ng-change="ChangeName()" class="form-control input-sm" />
                                <div class="error" ng-show="MyForm.itemName.$dirty||MyForm.$submitted">
                                    <small class="has-error" ng-show="MyForm.itemName.$error.required">
                                        Bạn cần nhập tên
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemName.$error.maxlength">
                                        Bạn đã nhập quá 255 ký tự
                                    </small>
                                    <small class="has-error" ng-show="validateForm.validName">
                                        Tên không chứa ký tự đặc biệt
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Bản ghi cha</label>
                            <div>
                                <ui-select ng-model="Item.ParentTermId" allow-clear="true" close-on-select="true" ng-disabled="disabled" title="Select parent catalog" style="width: 100%" theme="selectize">
                                    <!--on-select="SelectParentNavigation($item)">-->
                                    <ui-select-match placeholder="---Không có bản ghi cha---">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item.TermId as item in ListCatalogData | filter: $select.search">
                                        <div style="padding-left: {{15 * item.Level}}px" ng-class="item.Level==0?'text-bold':''" ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Mã bản ghi<span class="required">(*)</span></label>
                            <div>
                                <input required name="itemCode" pattern="[\x00-\x7F]*" ng-maxlength="255" ng-model="Item.Code" type="text" class="form-control input-sm" />
                                <div class="error" ng-show="MyForm.itemCode.$dirty ||MyForm.$submitted">
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.required">
                                        Bạn cần nhập mã
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.maxlength">
                                        Bạn đã nhập quá 255 ký tự
                                    </small>
                                    <small class="has-error" ng-show="MyForm.itemCode.$error.pattern">
                                        Mã phải không dấu
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Số thứ tự</label>
                            <div>
                                <input name="itemOrder" ng-model="Item.Order" type="number" min="0" ng-pattern="/^[0-9]{1,7}$/" class="form-control input-sm" />
                                <div class="error">
                                    <small class="has-error" ng-show="MyForm.itemOrder.$error.pattern">Số thứ tự không hợp lệ!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Trạng thái</label>
                            <div>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-true-value="1" ng-false-value="0" ng-model="Item.Status">
                                    <span></span>
                                </label>
                                <span class="label label-xs label-success" ng-if="Item.Status==1">Hoạt động</span>
                                <span class="label label-xs label-danger" ng-if="Item.Status==0">Không hoạt động</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Ghi chú</label>
                            <div>
                                <textarea ng-model="Item.Description" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix"></div> <br />
            <fieldset>
                <legend class="font-14 text-bold">
                    <span>DANH SÁCH METADATA</span>
                </legend>
                <div class="clearfix"></div>
                <formly-form fields="PreviewSheme" model="Data">
                </formly-form>
            </fieldset>
        </form>

        <div class="row">
            <div class="col-md-12" style="font-style:italic">Ghi chú: bắt buộc nhập các trường có dấu <span class="required">(*)</span>.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button title="Lưu" type="button" ng-click="Save()" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Lưu</button>
        <button title="Đóng" type="button" ng-click="Cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
    </div>
</div>
