﻿<form name="userpin_form" class="form-horizontal" ng-submit="Button.Save.Click()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <!--<a href="javascript:;" ng-click="Cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>-->
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row" ng-show="Form.IsUpdate">
                <label class="control-label col-md-4">PIN cũ<span class="required">(*)</span></label>
                <div class="col-md-8">
                    <input type="password" name="PINOld" autocomplete="off" ng-model="PINOld" ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]*$/" placeholder="Nhập vào PIN cũ" class="input-sm form-control" ng-change="TextBox.OldPIN.TextChanged()" />
                    <div class="has-error" ng-show="(userpin_form.PINOld.$dirty && userpin_form.PINOld.$invalid) || !Form.IsCorrectOldPIN">
                        <small class="has-error" ng-show="userpin_form.PINOld.$error.required">
                            Bạn cần nhập mã PIN cũ
                        </small>
                        <small class="has-error" ng-show="userpin_form.PINOld.$error.maxlength || userpin_form.PINOld.$error.minlength">
                            Mã PIN phải đủ 6 số
                        </small>
                        <small class="has-error" ng-show="userpin_form.PINOld.$error.pattern">
                            Mã PIN chỉ được nhập số
                        </small>
                        <small class="has-error" ng-show="!Form.IsCorrectOldPIN">
                            Mã PIN cũ không đúng
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br />
            <div class="row">
                <label class="control-label col-md-4">PIN mới<span class="required">(*)</span></label>
                <div class="col-md-8">
                    <input type="password" name="PINNew" autocomplete="off" ng-model="PINNew" ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]*$/" placeholder="Nhập vào PIN mới" class="input-sm form-control" />
                    <div class="has-error" ng-show="userpin_form.PINNew.$dirty && userpin_form.PINNew.$invalid">
                        <small class="has-error" ng-show="userpin_form.PINNew.$error.required">
                            Bạn cần nhập mã PIN mới
                        </small>
                        <small class="has-error" ng-show="userpin_form.PINNew.$error.maxlength || userpin_form.PINNew.$error.minlength">
                            Mã PIN phải đủ 6 số
                        </small>
                        <small class="has-error" ng-show="userpin_form.PINNew.$error.pattern">
                            Mã PIN chỉ được nhập số
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br />
            <div class="row">
                <label class="control-label col-md-4">Xác nhận PIN mới<span class="required">(*)</span></label>
                <div class="col-md-8">
                    <input type="password" name="confirm_PIN" autocomplete="off" placeholder="Nhập lại PIN mới" class="input-sm form-control" required data-password-verify="PINNew" ng-model='ConfirmedPIN' ng-change="TextBox.ConfirmPIN.TextChanged()" />
                    <div class="has-error" ng-show="(userpin_form.confirm_PIN.$dirty && userpin_form.confirm_PIN.$invalid) || !Form.IsConfirmValid">
                        <small class="has-error" ng-show="userpin_form.confirm_PIN.$error.required">Bạn cần nhập xác nhận lại mã PIN</small>
                        <small class="has-error" ng-show="!Form.IsConfirmValid">Xác nhận mã PIN không đúng</small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>
