<div class="modal-header">
    <h3 class="modal-title">{{ProgramTitle}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <span>{{Messenger}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">{{Confirm}}</button>
</div>   