﻿<form name="user_form" ng-submit="btnSave()">

    <div class="modal-header">
        <h3 class="modal-title">{{ProgramTitle}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <label class="control-label col-md-4">Đơn vị/phòng ban: </label>
            <div class="col-lg-8">
                <select name="DanhMuc"
                        ng-model="DanhSachNhomOp"
                        ng-init="DanhSachNhomOp = Vocabularies[1]"
                        ng-change="selectDanhSachNhom()"
                        ng-options="item.Name for item in DanhSachNhom track by item.Name"
                        class="form-control input-sm">
                    <option value="">--Chọn Đơn vị/phòng ban--</option>
                </select>
                <div class="error" ng-show="danhmucphanloai_form.DanhMuc.$dirty && danhmucphanloai_form.DanhMuc.$invalid">
                    <small ng-show="danhmucphanloai_form.DanhMuc.$error.required">Bạn cần chọn Danh mục</small>
                </div>

            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4"><span class="required">*</span> Tên tài khoản: </label>
            <div class="col-lg-8">
                <input type="text" ng-focus="Autofocus" name="username" ng-model="UserName" required ng-maxlength="255" ng-pattern="word" ng-readonly="readOnly" placeholder="Nhập vào tên tài khoản" class="input-sm form-control" />
                <div class="error" ng-show="user_form.username.$dirty && user_form.username.$invalid">
                    <!-- ERROR MESSAGES -->
                    <small class="error" ng-show="user_form.username.$error.required">
                        Bạn cần nhập tên tài khoản
                    </small>
                    <small class="error" ng-show="user_form.username.$error.maxlength">
                        Bạn đã nhập quá 255 ký tự
                    </small>
                    <small class="error" ng-show="user_form.username.$error.pattern">
                        Tên tài khoản không được có ký tự đặc biệt: space, /, ?,< ,>...
                    </small>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4"><span class="required">*</span> Tên đầy đủ: </label>
            <div class="col-lg-8">
                <input type="text" name="fullname" ng-model="FullName" required ng-maxlength="255" placeholder="Nhập vào tên người dùng" class="input-sm form-control" />
                <!-- ERROR MESSAGES -->
                <div class="error" ng-show="user_form.fullname.$dirty && user_form.fullname.$invalid">
                    <small class="error" ng-show="user_form.fullname.$error.required">
                        Bạn cần nhập tên của người dùng
                    </small>
                    <small class="error" ng-show="user_form.fullname.$error.maxlength">
                        Bạn đã nhập quá 255 ký tự
                    </small>
                </div>
            </div>
        </div>

        <div class="clearfix"></div><br />
        
        <div class="row">
            <label class="control-label col-md-4">Chức vụ: </label>
            <div id="example" ng-app="app">
                <div>
                    <div class="col-lg-8">
                        <select name="ChucVuOp" ng-model="ChucVuOp" style="width: 100%"
                                ng-options="item.TenChucVu for item in ChucVuData track by item.Value"
                                class="form-control input-sm"
                                ng-init="selectedChucVu">
                            <option value="">--Chọn Chức vụ--</option>
                        </select>
                        <!--<div class="error" ng-show="danhmucphanloai_form.DanhMuc.$dirty && danhmucphanloai_form.DanhMuc.$invalid">
                        <small ng-show="danhmucphanloai_form.DanhMuc.$error.required">Bạn cần chọn Chức vụ</small>
                    </div>-->
                    </div>
                </div>
            </div>
        </div>
       
        <div class="clearfix"></div><br />
        


        <div class="row">
            <label class="control-label col-md-4">Bút danh : </label>
            <div class="col-lg-8">
                <input type="text" name="NickName" ng-model="NickName" ng-maxlength="255" placeholder="Nhập vào bút danh" class="input-sm form-control" />
                <!-- ERROR MESSAGES -->
                <div class="error" ng-show="user_form.NickName.$dirty && user_form.NickName.$invalid">
                    <small class="error" ng-show="user_form.NickName.$error.required">
                        Bạn cần bút danh
                    </small>
                    <small class="error" ng-show="user_form.NickName.$error.maxlength">
                        Bạn đã nhập quá 255 ký tự
                    </small>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4">Email: </label>
            <div class="col-lg-8">
                <input type="email" name="email" ng-model="Email" placeholder="Nhập vào Email" class="input-sm form-control" />
                <div class="error" ng-show="user_form.email.$dirty && user_form.email.$invalid">
                    <!-- ERROR MESSAGES -->
                    <small class="error" ng-show="user_form.email.$error.required">
                        Bạn cần nhập email
                    </small>
                    <small class="error" ng-show="user_form.email.$error.email">
                        Bạn cần nhập đúng định dạng email
                    </small>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4">Số điện thoại: </label>
            <div class="col-lg-8">
                <input type="text" name="Mobile" ng-model="Mobile" ng-pattern="/^[0-9]{10,20}$/"
                       placeholder="Nhập vào số điện thoại theo dạng 000 000 0000" class="input-sm form-control" />
                <div class="error" ng-show="user_form.Mobile.$dirty && user_form.Mobile.$invalid">
                    <small class="error" ng-show="user_form.Mobile.$error.required">
                        Bạn cần nhập số điện thoại
                    </small>
                    <small class="error" ng-show="user_form.Mobile.$error.pattern">
                        Bạn đã nhập sai định dạng (nhập chữ hoặc sai format)
                    </small>

                </div>

            </div>
        </div>
        <div class="clearfix"></div><br />
            <div class="row">
                <label class="control-label col-md-4"><span class="required">*</span> Mật khẩu: </label>
                <div class="col-lg-8">
                    <input type="button" class="btn btn-sm btn-warning" value="Đổi mật khẩu" ng-click="OpenFormEditPassWord()" />
                </div>
            </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4"><span class="required"></span> Chọn nhóm quyền: </label>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon sm" ng-click="Search()"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="filterText.RoleName" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm" ng-pattern="word" ng-trim="true">

                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="checkbox-list">
                    <label ng-repeat="role in Roles | filter:filterText">
                        <input type="checkbox" checklist-model="SelectedRoles" checklist-value="role.RoleCode"> {{role.Selected}} / {{role.RoleName}}
                    </label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-4">Hoạt động: </label>
            <div class="col-lg-8">
                <input type="checkbox" ng-model="Active">
            </div>
        </div>
        <div class="clearfix"></div><br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Lưu" />
        <input type="button" class="btn btn-warning" ng-click="cancel()" value="Đóng" />
    </div>


</form>
