﻿<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Quản lý người dùng trong hệ thống</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-inline input-large">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="Button.Search.Click()"></i>
                    <input type="text" ng-model="TextSearch" ng-keyup="$event.keyCode == 13 && Button.Search.Click()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true" />
                </div>
            </div>
        </div>
        <div class="actions">
            <!--<button type="button" class="btn btn-danger" uib-tooltip="Xóa" ng-click="OpenDeleteForm()" ng-if="ListSelected.length > 0 && Button.Delete.GrantAccess">
                <i class="fa fa-trash"></i>&nbsp;
                <span>Xóa</span>
            </button>-->
            <button type="button" class="btn default" uib-tooltip="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>&nbsp;
                <span>Tải lại</span>
            </button>
            <button type="button" class="btn btn-primary" uib-tooltip="Thêm mới" ng-if="Button.Create.GrantAccess" ng-click="Button.Create.Click()">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Thêm mới từ AD</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- BEGIN PAGE CONTENT-->
            <div class="row col-sm-12">
                <div class="col-sm-4" style="padding:0px" ng-if="false">
                    <label class="control-label col-md-4">Nhóm quyền:</label>
                    <!-- Select application -->
                    <div class="col-md-8">
                        <select class="form-control input-sm" ng-model="selectedrole" ng-options="selectedrole.RoleName for selectedrole in Roles" ng-change="selectDanhSachNhom()">
                            <option value="">-- Tất cả --</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--<label class="control-label col-md-4">Đơn vị phòng ban:</label>-->
                    <!--<div class="col-sm-8">-->
                    <ui-select name="phongban" focus-on="UiSelectDemo1" ng-model="Select.DanhSachNhomOp" allow-clear="true" close-on-select="true" ng-disabled="disabled" title="Lọ theo đơn vị/phòng ban" on-select="ChangeOrganization()" theme="bootstrap">
                        <ui-select-match placeholder="--Tất cả đơn vị/phòng ban--">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item as item in DanhSachNhom | filter: $select.search">
                            <div style="padding-left: {{15 * item.Level}}px" ng-class="item.Loai ===1?'text-bold':''" ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <!--</div>-->
                </div>
                <!-- Select application -->
                <div class="col-sm-4">
                    <!--<label class="control-label col-md-4 right" style="text-align:right">Trạng thái</label>-->
                    <!--<div class="col-md-8">-->
                    <select class="form-control" ng-init="stateselect=optionsState[0]" ng-model="stateselect" ng-change="selectState()" ng-options="option.name for option in optionsState"></select>
                    <!--</div>-->
                </div>
            </div>
            <div class="clearfix"></div><br />
            <!-- TABLE -->
            <div class="col-md-12" style="margin-top:-15px">
                <div class="row" id="table-region">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                            <thead>
                                <tr class="grid-header">
                                    <th class="sorting_disabled" style="width:1%">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" ng-click="SelectAllItem()" ng-model="IsSelectAll" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th ng-repeat="header in Headers" style="width: {{header.Width}};" align="{{header.Align}}" ng-class="GetItemHeaderClass(header)" ng-click="ClickToHeader(header)">
                                        <a href="javascript:;">{{header.Value}}</a>
                                    </th>

                                    <th class="table-handler" align="center" rowspan="1" colspan="1" aria-label="" style="width: auto">
                                        <a href="javascript:;">Thao tác</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in ListData" ng-class="data.Selecting?'selected':''">
                                    <td>
                                        <!--<div class="checker">
                                            <span ng-class="data.Selecting?'checked':''">
                                                <input type="checkbox" ng-click="SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                                            </span>
                                        </div>-->
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" ng-click="SelectItem(data)" ng-model="data.Selecting" ng-class="{selected: $index==selectedRow}">
                                            <span></span>
                                        </label>
                                    </td>
                                    <!--<td>
                                        <span>{{::$index + (Grid.PageNumber-1)*Grid.PageSize+1}}</span>
                                    </td>-->
                                    <td>
                                        <a href="javascript:void(0);" ng-click="Button.Info.Click(data)" target="_self" class="item-title" title="Chi tiết">

                                            <span class="text-danger" ng-if="!data.Active" title="Đã bị khóa">
                                                {{data.UserName}}
                                                <i class="icon-lock"></i>
                                            </span>
                                            <span ng-if="data.Active">{{data.UserName}}</span>
                                        </a>
                                    </td>
                                    <td>
                                        {{data.FullName}}
                                    </td>
                                    <td>
                                        <span ng-repeat="role in data.Roles">
                                            {{role.RoleName}}<span ng-if="$index != (data.Roles.length - 1)">,</span>
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                                ng-click="Button.Lock.Click(data, 'false')" ng-if="data.Active && Button.Lock.GrantAccess && data.UserId !== UserInfo.Id" title="Khóa người dùng">
                                            <i class="icon-lock"></i>
                                        </button>
                                        <button type="button" class="btn btn-circle btn-primary btn-icon-only btn-grid-circle-button"
                                                ng-click="Button.Lock.Click(data, 'true')" ng-if="!data.Active && Button.Lock.GrantAccess" title="Mở khóa người dùng">
                                            <i class="icon-lock-open"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-circle btn-warning btn-icon-only btn-grid-circle-button"
                                                ng-if="Button.ChangePassword.GrantAccess"
                                                ng-click="Button.ChangePassword.Click(data)" title="Đổi mật khẩu">
                                            <i class="fa fa-key"></i>
                                        </button>-->
                                        <button type="button" class="btn btn-circle btn-primary btn-icon-only btn-grid-circle-button"
                                                ng-if="Button.Update.GrantAccess"
                                                ng-click="Button.Update.Click(data)" title="Cập nhật">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                                ng-if="Button.Delete.GrantAccess  && data.UserId !== UserInfo.Id"
                                                ng-click="Button.Delete.Click(data)" title="Xóa người dùng">
                                            <i class="fa fa-trash"></i>
                                        </button>-->
                                    </td>
                                </tr>
                                <tr ng-show="ListData.length<=0">
                                    <td colspan="1000" align="center">
                                        <strong>Chưa có dữ liệu!</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- PAGINATION -->
            <!--<div class="col-md-12">
                <div class="dataTables_paginate">
                    <div class="pull-left pagination-panel">
                        {{Pagination.FromRecord}} - {{Pagination.ToRecord}} trong tổng số {{Pagination.TotalCount}}
                    </div>
                    <div class="pull-right pagination-panel">
                        &nbsp;Trang số&nbsp;
                        <button type="button" uib-tooltip="Về trang đầu" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(1)"><i class="fa fa-angle-double-left"></i></button>
                        <button type="button" uib-tooltip="Trang trước" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(Pagination.PageNumber-1)"><i class="fa fa-angle-left"></i></button>
                        <input type="text" ng-model="Pagination.PageNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-keyup="$event.keyCode == 13 && Button.GoToPage.Click(Pagination.PageNumber)" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;">
                        /{{Pagination.TotalPage}}&nbsp;
                        <button type="button" uib-tooltip="Trang tiếp" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.PageNumber+1)"><i class="fa fa-angle-right"></i></button>
                        <button type="button" uib-tooltip="Tới trang cuối" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.TotalPage)"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                    <div class="pull-right pagination-panel">
                        Hiển thị số bản ghi:&nbsp;
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-default margin-right-none">{{Pagination.PageSize}}</button>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right" role="menu">
                                <li ng-repeat="pagesize in ListPageSize">
                                    <a href="javascript:;" ng-click="Pagination.PageSize=pagesize;Button.GoToPage.Click(1)">
                                        <span ng-bind="pagesize"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- PAGINATION -->
            <div class="col-sm-12" ng-show="Grid.TotalCount>0" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
<!-- ALERT DIV -->
<!--<div class="alerts" ng-show="Notifications.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in Notifications.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert"><i class="close"></i></button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>-->
