﻿<form name="film_form"  ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">

            <div class="clearfix"></div>

            <!--Tên-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Tên phim (VN)</label>
                        <input type="text" ng-model="Film.Name" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name_F">Tên phim (EN)</label>
                        <input type="text" ng-model="Film.Name_F" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Mã - Định dạng phim-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Code">Mã</label>
                        <input type="text" ng-model="Film.Code" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListFilmFormatId">Định dạng phim</label>
                        <input type="text" ng-model="Film.FilmFormatName" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListFilmFormatId">Hình thức phim</label>
                        <input type="text" ng-model="Film.FilmDubbingName" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Thể loại - nhà phát hành-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ListGenre">Thể loại</label>
                        <input type="text" ng-model="Film.FilmGenreName" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="DistributorId">Nhà phát hành</label>
                        <input type="text" ng-model="Film.DistributorName" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Studio, phân loại độ tuổi-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Studio</label>
                        <input type="text" ng-model="Film.StudioName" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Phân loại độ tuổi</label>
                        <input type="text" ng-model="Film.FilmRestrictAgeName" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Xếp hạng - thời lượng - ngôn ngữ - phụ đề-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Rate">Xếp hạng</label>
                        <input type="text" ng-model="Film.Rate" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Duration">Thời lượng</label>
                        <div class="input-group">
                            <input type="text" ng-model="Film.Duration" readonly class="form-control" />
                            <div class="input-group-addon">phút</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MainLanguage">Ngôn ngữ</label>
                        <input type="text" ng-model="Film.MainLanguage" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListSubtitle">Phụ đề</label>
                        <input type="text" ng-model="Film.SubtitleName" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Ngày phát hành, Trailer Url-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Ngày phát hành</label>
                        <input type="text" ng-model="Film.OpeningDateFormat" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Trailer Url</label>
                        <input type="text" ng-model="Film.TrailerURL" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Nội dung tóm tắt-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung tóm tắt (VN)</label>
                        <textarea readonly rows="4" type="text" style="resize:vertical" id="ShortDescription" name="ShortDescription" ng-model="Film.ShortDescription" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung tóm tắt (EN)</label>
                        <textarea readonly rows="4" type="text" style="resize:vertical" id="ShortDescription_F" name="ShortDescription_F" ng-model="Film.ShortDescription_F" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!--Nội dung chi tiết-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung chi tiết (VN)</label>
                        <textarea readonly rows="4" type="text" style="resize:vertical" id="Description" name="Description" ng-model="Film.Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung chi tiết (EN)</label>
                        <textarea readonly rows="4" type="text" style="resize:vertical" id="Description_F" name="Description_F" ng-model="Film.Description_F" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!--Đạo diễn - diễn viên-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Đạo diễn</label>
                        <input type="text" ng-model="Film.Director" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Diễn viên</label>
                        <input type="text" ng-model="Film.Actors" readonly class="form-control" />
                    </div>
                </div>
            </div>

            <!--Đang/Sắp chiếu - suất chiếu đặc biệt - thứ tự - trạng thái-->
            <div class="row">
                <!--<div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái chiếu</label>
                        <br />
                        <div class="mt-radio-inline">
                            <label class="mt-radio mt-radio-outline margin-bottom-none">
                                <input type="radio" disabled ng-checked="Film.NowShowing===true" ng-model="Film.NowShowing" value="true">
                                Đang chiếu
                                <span></span>
                            </label>
                            <label class="mt-radio mt-radio-outline margin-bottom-none">
                                <input type="radio" disabled ng-checked="Film.NowShowing===false" ng-model="Film.NowShowing" value="false">
                                Sắp chiếu
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>-->

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ScreenProjector">Là phim hot</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" disabled class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Film.Hot">
                            <span></span>
                        </label>
                        <span class="label label-xs label-info" ng-if="Film.Hot">Có</span>
                        <span class="label label-xs label-warning" ng-if="!Film.Hot">Không</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ScreenProjector">Thứ tự hiển thị</label>
                        <input type="text" ng-model="Film.Order" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái hoạt động</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" disabled class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Film.Status">
                            <span></span>
                        </label>
                        <span class="label label-xs label-info" ng-if="Film.Status">Hoạt động</span>
                        <span class="label label-xs label-danger" ng-if="!Film.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>

            <!--Hình ảnh-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Poster">Hình ảnh phim (Poster)</label>
                        <div class="clearfix"></div>
                        <fieldset ng-if="Film.ListPosterUrl.length !== 0">
                            <div ng-repeat="f in Film.ListPosterUrl"
                                 class="col-md-3 col-sm-6 col-xs-12">
                                <div style="height:300px; margin: 5px 5px 5px 5px; background-image: url({{f.Link}});  background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <p class="text-right">
                                        <a href="{{f.Link}}" target="_blank"><i class="fa fa-external-link  input-sm" aria-hidden="true" style="font-size:22px; margin-top:5px;"></i></a>
                                    </p>
                                    <div style="height:200px">
                                    </div>
                                    <div style="background-color: white; height: 45px; width: 45px; padding-left: 12px">
                                        <label class="mt-radio mt-radio-outline margin-bottom-none" style="background-color: white;">
                                            <input type="radio" disabled ng-checked="Film.MainPosterURL===f.AbsolutePath" ng-model="Film.MainPosterURL" ng-value="f.AbsolutePath">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <label for="nothing">Ảnh được đánh dấu </label>
                        <input type="radio" disabled checked>
                        <label for="nothing"> là ảnh đại diện</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm blue" ng-click="Button.Update.Click()"><i class="fa fa-edit"></i> Cập nhật</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>