﻿<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-large input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                    <input type="text" ng-model="Filter.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true">
                </div>
            </div>
        </div>
        <div class="actions pull-right">
            <button type="button" class="btn btn-danger" ng-if="Button.Delete.Visible && Button.Delete.GrantAccess" ng-disabled="!Button.Delete.Enable" ng-click="Button.Delete.Click()">
                <i class="fa fa-trash"></i>&nbsp;
                {{Button.Delete.Title}}
            </button>
            <button type="button" class="btn default" ng-click="Grid.Refesh()">
                <i class="fa fa-refresh"></i>
                Tải lại
            </button>
            <button type="button" ng-if="Button.Add.Visible && Button.Add.GrantAccess" ng-disabled="!Button.Add.Enable" class="btn btn-primary" ng-click="Button.Add.Click()">
                <i class="fa fa-plus"></i>&nbsp;
                {{Button.Add.Title}}
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- TABLE GRID -->
            <div>
                <div class="col-md-3 pull-right">
                    <ui-select  allow-clear="true" ng-model="LoaiRapChieu.Selected" close-on-select="true" title="Chọn loại rạp" ng-change="FilterLoaiRapChieu()" theme="bootstrap">
                        <ui-select-match  allow-clear="true" placeholder="--Chọn loại rạp--">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item in DanhMuc.LoaiRapChieu | filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-md-3 pull-right text-right" style="line-height:34px;">Loại rạp</label>
            </div>
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                    <thead>
                        <tr class="grid-header">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:1%;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" ng-click="Grid.CheckAllItem()" ng-model="Grid.CheckAll" />
                                    <span></span>
                                </label>
                            </th>
                            <th ng-repeat="item in Grid.DataHeader" ng-class="Grid.GetItemHeaderClass(item)"
                                ng-click="Grid.ClickToHeader(item)" style="width:{{item.Width}}">
                                {{item.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="Grid.Data.length>0 && Grid.GrantAccess" ng-repeat="item in Grid.Data " ng-class="Grid.GetItemClass(item)">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-click="Grid.CheckItem(item)" ng-model="item.selected" ng-class="{selected: $index==selectedRow}">
                                    <span></span>
                                </label>
                            </td>
                            <!--<td align="center">
                                <span>{{::$index + (Grid.PageNumber-1)*Grid.PageSize+1}}</span>
                            </td>-->
                            <td align="center">
                                <span>{{item.Order}}</span>
                            </td>
                            <td>
                                <span>{{item.Code}}</span>
                            </td>
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                <span>{{item.CinemaType != null ? item.CinemaType.Name : ''}}</span>
                            </td>
                            <td>
                                <span class="label ng-scope" ng-class="item.Status ? 'label-success' : 'label-danger'">{{item.Status ? "Hoạt động" : "Không hoạt động"}}</span>
                            </td>
                            <td>
                                <button type="button" uib-tooltip="Thông tin chi tiết" class="btn btn-circle btn-icon-only green" ng-if="Button.Detail.GrantAccess" ng-click="Button.Detail.Click(item)"><i class="fa fa-info"></i></button>
                                <button type="button" uib-tooltip="Cập nhật" class="btn btn-circle btn-icon-only blue" ng-if="Button.Update.GrantAccess" ng-click="Button.Update.Click(item)"><i class="fa fa-edit"></i></button>
                                <button type="button" uib-tooltip="Xóa" class="btn btn-circle btn-icon-only red" ng-if="Button.Delete.GrantAccess" ng-click="Button.Delete.Click(item)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="Grid.Data.length ===0 && Grid.GrantAccess"><td colspan="20">Không có dữ liệu !</td></tr>
                        <tr ng-if="!Grid.GrantAccess"><td colspan="20">Không có quyền xem dữ liệu</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="Grid.TotalCount>0 && Grid.GrantAccess" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
