﻿<style>
    textarea {
        resize: vertical;
    }
</style>
<form name="cinema_form" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mã POS <span class="required">(*)</span></label>
                        <input type="text" class="form-control"
                               id="Code"
                               name="Code" ng-model="PosModel.Code"
                               required ng-maxlength="16" placeholder="Nhập vào mã POS"
                               ng-disabled="ModalMode == 'edit'" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên POS<span class="required">(*)</span></label>
                        <input type="text" class="form-control"
                               id="Name"
                               name="Name" ng-model="PosModel.Name"
                               required ng-maxlength="32" placeholder="Nhập vào tên POS" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Thuộc rạp <span class="required">(*)</span></label>
                        <div class="grid-width-100">
                            <ui-select allow-clear="true" ng-model="Filter.CinemaSelected" close-on-select="true" title="Chọn rạp" ng-change="ChooseRapChieu()" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="--Chọn rạp--">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in Filter.DanhSachRap | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Địa chỉ MAC</label>
                        <input type="text" class="form-control"
                               id="MacAddress"
                               name="MacAddress" ng-model="PosModel.MACAddress"
                               placeholder="Nhập vào địa chỉ vật lý của máy" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea type="text" class="form-control"
                                  id="Description" rows="3" placeholder="Nhập mô tả..."
                                  name="Description" ng-model="PosModel.Description"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Quyền tại POS</label>
                        <div class="margin-top-10">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty"
                                       ng-model="PosModel.GhiNhanBan" ng-change="SerializeActionPermission()">
                                <span></span>
                            </label>
                            <span class="label label-xs label-primary">Ghi nhận bán hàng</span>
                        </div>
                        <div class="margin-top-10">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty"
                                       ng-model="PosModel.GhiNhanMua" ng-change="SerializeActionPermission()">
                                <span></span>
                            </label>
                            <span class="label label-xs label-primary">Ghi nhận trả hàng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty"
                                   ng-model="PosModel.Status">
                            <span></span>
                        </label>
                        <span class="label label-xs label-success" ng-if="PosModel.Status">Hoạt động</span>
                        <span class="label label-xs label-danger" ng-if="!PosModel.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>