﻿<form name="organizations_form" class="form-horizontal" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Đơn vị cha</label>
                <div class="col-md-9">
                    <ui-select ng-disabled="IsInfo" ng-focus="true" ng-model="Select.DanhSachNhomOp" allow-clear="true" close-on-select="true" title="Chọn đơn vị/phòng ban" theme="bootstrap">
                        <ui-select-match placeholder="--Chọn đơn vị/phòng ban--">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item as item in DanhSachNhom | filter: $select.search">
                            <div style="padding-left: {{15 * item.Level}}px" ng-class="item.Loai === 1?'bold':''" ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên đơn vị<span class="required">(*)</span></label>
                <div class="col-md-9">
                    <input type="text" ng-disabled="IsInfo" ng-focus="true" name="Name" ng-model="Name" required ng-maxlength="255" placeholder="Nhập vào tên đơn vị/phòng ban" class="form-control" />
                    <div ng-show="organizations_form.Name.$dirty ||organizations_form.$submitted">
                        <small class="has-error" ng-show="organizations_form.Name.$error.required">
                            Bạn cần nhập tên đơn vị/phòng ban
                        </small>
                        <small class="has-error" ng-show="organizations_form.Name.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã đơn vị<span class="required">(*)</span></label>
                <div class="col-md-9">
                    <input type="text" ng-disabled="IsInfo" ng-focus="Autofocus" name="Code" ng-model="Code" pattern="[\x00-\x7F]*" required ng-maxlength="255" placeholder="Nhập vào mã đơn vị/phòng ban" class=" form-control" />
                    <div ng-show="organizations_form.Code.$dirty && organizations_form.Code.$invalid||organizations_form.$submitted">
                        <small class="has-error" ng-show="organizations_form.Code.$error.required">
                            Bạn cần nhập mã đơn vị/phòng ban
                        </small>
                        <small class="has-error" ng-show="organizations_form.Code.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                        <small class="has-error" ng-show="organizations_form.Code.$error.pattern">
                            Mã đơn vị/phòng ban phải nhập không dấu
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group margin-bottom-5">
                <label class="col-md-3 control-label">Chọn loại<span class="required">(*)</span></label>
                <div class="col-md-9">
                    <div class="mt-radio-inline">
                        <label class="mt-radio mt-radio-outline margin-bottom-none">
                            <input type="radio" ng-disabled="IsInfo" ng-checked="item.Loai===1" ng-model="item.Loai" value="1">
                            Đơn vị
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline margin-bottom-none">
                            <input type="radio" ng-checked="item.Loai===0" ng-model="item.Loai" ng-disabled="IsInfo" value="0">
                            Phòng ban
                            <span></span>
                        </label>
                    </div>
                </div>
                <div ng-show="organizations_form.item.Loai.$dirty||organizations_form.$submitted">
                    <small class="has-error" ng-show="organizations_form.item.Loai.$error.required">
                        Bạn cần chọn loại đơn vị/phòng ban
                    </small>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Thứ tự sắp xếp</label>
                <div class="col-md-2">
                    <input name="STT" ng-model="STT" ng-disabled="IsInfo" type="number" min="0" value="0" ng-pattern="/^[0-9]{1,6}$/" class="form-control " />
                    <div>
                        <small class="has-error" ng-show="organizations_form.STT.$error.pattern">Số thứ tự không hợp lệ!</small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Số điện thoại</label>
                <div class="col-md-9">
                    <input type="text" name="Mobile" ng-disabled="IsInfo" ng-model="SoDienThoai" ng-maxlength="16" ng-minlength="7" ng-pattern="/^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/"
                           placeholder="{{IsInfo==true?'':'Nhập theo định dạng 000 000 0000'}}" class=" form-control" />
                    <div>
                        <small class="has-error" ng-show="organizations_form.Mobile.$error.pattern">
                            Bạn đã nhập sai định dạng
                        </small>
                        <small class="has-error" ng-show="organizations_form.Mobile.$error.maxlength">
                            Bạn đã nhập quá 16 ký tự
                        </small>
                        <small class="has-error" ng-show="organizations_form.Mobile.$error.minlength">
                            Bạn cần nhập lớn hơn 7 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Số Fax</label>
                <div class="col-md-9">
                    <input type="text" name="SoFax" ng-model="SoFax" ng-disabled="IsInfo" ng-maxlength="16" ng-minlength="7" ng-pattern="/^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/"
                           placeholder="{{IsInfo==true?'':'Nhập theo định dạng 000 000 0000'}}" class=" form-control" />
                    <div>
                        <small class="has-error" ng-show="organizations_form.SoFax.$error.pattern">
                            Bạn đã nhập sai định dạng
                        </small>
                        <small class="has-error" ng-show="organizations_form.SoFax.$error.maxlength">
                            Bạn đã nhập quá 16 ký tự
                        </small>
                        <small class="has-error" ng-show="organizations_form.SoFax.$error.minlength">
                            Bạn cần nhập lớn hơn 7 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <input type="email" name="email" ng-disabled="IsInfo" ng-pattern="/^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4})((,[\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4}){1,})?$/" ng-model="Email" ng-maxlength="255" placeholder="{{IsInfo==true?'':'Ví dụ: abc@gmail.com'}}" class=" form-control" />
                    <div ng-show="organizations_form.email.$dirty && organizations_form.email.$invalid">
                        <!-- ERROR MESSAGES -->
                        <small class="has-error" ng-show="organizations_form.email.$error.required">
                            Bạn cần nhập email
                        </small>
                        <small class="has-error" ng-show="organizations_form.email.$error.pattern">
                            Bạn cần nhập đúng định dạng email
                        </small>
                        <small class="has-error" ng-show="organizations_form.email.$error.maxlength">
                            Bạn đã nhập quá 255 ký tự
                        </small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Địa chỉ</label>
                <div class="col-md-9">
                    <input type="text" ng-focus="Autofocus" ng-disabled="IsInfo" name="DiaChi" ng-model="DiaChi" placeholder="{{IsInfo==true?'':'Nhập vào địa chỉ đơn vị/phòng ban'}}" class=" form-control" /><!--ng-pattern="word"-->
                    <!--<input type="text" ng-focus="Autofocus" name="DiaChi" ng-model="DiaChi" placeholder="Nhập vào địa chỉ đơn vị/phòng ban" class=" form-control" />--> <!--ng-pattern="word"-->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mô tả</label>
                <div class="col-md-9">
                    <textarea rows="4" type="text" style="resize:vertical" ng-readonly="IsInfo" ng-focus="Autofocus" name="Description" ng-model="Description" placeholder="{{IsInfo==true?'':'Nhập vào mô tả đơn vị/phòng ban'}}" class=" form-control"></textarea> <!--ng-pattern="word"-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>