﻿<div class="dataTables_paginate">
    <div class="pull-left pagination-panel">
        Hiển thị {{Grid.FromRecord}} - {{Grid.ToRecord}} trên {{Grid.TotalCount}} kết quả
    </div>
    <div class="pull-right pagination-panel">
        <select title="Hiển thị số bản ghi" class="form-control input-sm input-inline"
                ng-options="option for option in Grid.PageSizeOptions"
                ng-model="Grid.PageSize"
                ng-change="Button.ChangePageSize.Click()"></select>
        <button type="button" class="btn btn-sm default prev" title="Trang đầu" ng-disabled="Grid.PageNumber<=1" ng-click="Button.GoToPage.Click(1)"><i class="fa fa-angle-double-left"></i></button>
        <button type="button" class="btn btn-sm default prev" title="Trang trước" ng-disabled="Grid.PageNumber<=1" ng-click="Button.GoToPage.Click(Grid.PageNumber-1)"><i class="fa fa-angle-left"></i></button>
        Trang
        <input type="number" min="1" max="{{Grid.TotalPage}}" ng-model="Grid.PageNumber" ng-keyup="$event.keyCode == 13 && Button.GoToPage.Click(Grid.PageNumber)" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;">
        trên {{Grid.TotalPage}}
        <button type="button" class="btn btn-sm default next" title="Trang sau" ng-disabled="Grid.PageNumber>=Grid.TotalPage" ng-click="Button.GoToPage.Click(Grid.PageNumber+1)"><i class="fa fa-angle-right"></i></button>
        <button type="button" class="btn btn-sm default next" title="Trang cuối" ng-disabled="Grid.PageNumber>=Grid.TotalPage" ng-click="Button.GoToPage.Click(Grid.TotalPage)"><i class="fa fa-angle-double-right"></i></button>
    </div>
</div>