﻿
<form id="form_right" name="form_right" ng-submit="Button.Save.Click()">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
            </div>
            <!--<div class="inputs hide">
                <div class="portlet-input input-large input-inline">
                    <div class="input-icon right">
                        <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                        <input type="text" ng-model="Filter.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid " placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true">
                    </div>
                </div>
            </div>-->
            <div class="actions pull-right" style="padding-right:unset !important">
                <button type="button" class="btn btn-danger" ng-if="Button.Delete.Visible && Button.Delete.GrantAccess" ng-disabled="!Button.Delete.Enable" ng-click="Button.Delete.Click()">
                    <i class="fa fa-trash"></i>&nbsp;
                    {{Button.Delete.Title}}
                </button>
                <button type="button" class="btn default" ng-click="Button.Reload.Click()">
                    <i class="fa fa-refresh"></i>
                    Tải lại
                </button>
                <!--<button type="button" ng-if="Button.Add.Visible" ng-disabled="!Button.Add.Enable" class="btn btn-primary" ng-click="Button.Add.Click()">
                    <i class="fa fa-plus"></i>&nbsp;
                    {{Button.Add.Title}}
                </button>-->
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <legend class="uppercase">Danh sách quyền</legend>
                        <!-- Tree view -->
                        <script type="text/ng-template" id="treeItem">
                            <div class="tree-folder-header padding-left-none" ng-mouseup="TreeView.Right.Click(right)" ng-class="right.Selected?'active':''">
                                <!--<span ng-class="right.IsCollapse && right.SubRights.length>0 ? 'glyphicon glyphicon-expand':'glyphicon glyphicon-collapse-down'" ng-show="right.IsGroup" ng-click="TreeView.Right.Collapse(right)"></span>-->
                                <i ng-class="right.IsCollapse && right.SubRights.length>0 ? 'fa fa-plus-square':'fa fa-minus-square'" ng-show="right.IsGroup"></i>
                                <div class="tree-folder-name">
                                    <!--<span ng-if="!right.Status" class="text-muted" title="Không hoạt động"><i class="fa fa-minus-circle"></i></span>-->
                                    <label ng-class="{'bold':right.IsGroup,'text-through':!right.Status}" class="mt-checkbox mt-checkbox-single mt-checkbox-outline margin-bottom-none padding-left-none">
                                        <input type="checkbox" class="mt-check" ng-model="right.Checked">
                                        {{right.RightName}}
                                        <span class="hide"></span>
                                    </label>
                                    <!--<span ng-if="!right.IsGroup" style="color:#ff0000b0" ng-click="Button.Delete.Click(right)" class="pull-right padding-right-10"><i class="fa fa-trash"></i></span>-->
                                </div>
                            </div>
                            <div class="tree-folder-content" ng-show="right.SubRights.length>0&&!right.IsCollapse">
                                <div ng-repeat="right in right.SubRights | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                            </div>
                        </script>
                        <div id="catalog-tree" class="tree tree-plus-minus tree-no-line tree-unselectable">
                            <div class="input-icon right" style="border-radius: 0;margin-bottom: 7px; ">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control input-sm" ng-model="TreeView.Right.FilterText" placeholder="Tìm kiếm">
                            </div>
                            <div id="catalog-tree2" class="tree-folder">
                                <div ng-repeat="right in TreeView.Right.Data | filter:TreeView.Right.FilterText" ng-include="'treeItem'"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-8">
                    <fieldset>
                        <legend class="uppercase">Thông tin quyền người dùng</legend>
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Chọn chức năng<span class="required">(*)</span></label>
                                    <ui-select class="form-group" tabindex="1" ng-disabled="FormMode.IsEditMode"
                                               ng-model="DropDownList.Group.Model"
                                               ng-change="DropDownList.Group.SelectedChange()"
                                               theme="bootstrap">
                                        <ui-select-match allow-clear="true" placeholder="-- Chọn chức năng --">{{$select.selected.RightName}}</ui-select-match>
                                        <ui-select-choices repeat="option.RightCode as option in DropDownList.Group.Data | filter: $select.search">
                                            <div ng-bind-html="option.RightName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Thứ tự</label>
                                    <input ng-model="Form.Item.Order" type="number" tabindex="2" ng-init="Form.Item.Order=0" min="0" max="1000" value="0" ng-pattern="/^[0-9]{1,6}$/" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Trạng thái</label>
                                    <div class="padding-top-5">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" ng-model="Form.Item.Status" ng-init="Form.Item.Status=true">
                                            <span></span>
                                        </label>
                                        <span ng-class="Form.Item.Status===true?'label label-xs label-success':'label label-xs label-danger'">{{Form.Item.Status===true?'Hoạt động':'Không hoạt động'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Mã quyền<span class="required">(*)</span></label>
                                    <input type="text" tabindex="3" name="RightCode" ng-model="Form.Item.RightCode" ng-disabled="FormMode.IsEditMode" required pattern="[\x00-\x7F]*" ng-maxlength="255" class="form-control form-control-solid" placeholder="Nhập vào mã quyền..." ng-trim="true">
                                    <div ng-show="form_right.RightCode.$touched">
                                        <small class="has-error" ng-show="form_right.RightCode.$error.pattern">
                                            Mã quyền phải nhập không dấu
                                        </small>
                                        <!--<small class="has-error" ng-show="form_right.RightCode.$error.required">
                                            Bạn phải nhập mã quyền
                                        </small>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tên quyền<span class="required">(*)</span></label>
                                    <input type="text" tabindex="4" name="RightName" ng-model="Form.Item.RightName" class="form-control form-control-solid" required placeholder="Nhập vào tên quyền..." ng-trim="true">
                                    <!--<div ng-show="form_right.RightName.$touched">
                                        <small class="has-error" ng-show="form_right.RightName.$error.required">
                                            Bạn phải nhập tên quyền
                                        </small>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Mô tả</label>
                                    <textarea ng-model="Form.Item.Description" tabindex="5" rows="4" class="form-control form-control-solid resize-none" placeholder="Nhập vào mô tả..." ng-trim="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-8">
                            <button type="submit" tabindex="6" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
                            <button type="button" tabindex="7" class="btn btn-sm btn-danger" ng-if="FormMode.IsEditMode && Button.Delete.GrantAccess" ng-click="Button.Delete.Click()"><i class="fa fa-trash"></i> Xóa</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>


